<template>
    <form class="mb-3 form-group d-flex" v-on:submit.prevent="submit()">
        <input class="form-control" v-model="link" type="text" placeholder="Link"
            aria-label="default input example">
        <button @click="fetchLink" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
    </form>
</template>
<script>
export default {
    data() {
        return {
            link: '',
        };
    },
    methods: {
        fetchLink() {
            this.$emit('search', this.link);
        },
        submit(){},
    },
};
</script>
<style scoped>
    form {
        width: 80vw;
    }
</style>