<template>
    <div class="ti">
      <Botao @search="addLink"></Botao>
      <h1>YOGA 1:</h1>
    </div>
      
      <div class="video-container">
        <img v-for="video in listaVideo" :src="video"/>
      </div>
</template>

<script>
import Botao from "./Botao.vue"
var lista = []
export default {
          name: "VideoComp",
          data () {
            return {
              listaVideo: lista
            }
          }, 
          components: { Botao },
          methods: {
            addLink(link) {
              this.listaVideo.push(link)
            }
          }
        }
</script>

<style scoped>
.video-container {
  align-items: center;
  justify-content: center;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
}

.video-container video {
  width: 100%;
}
</style>