<template>
    <div class="container">

      <div class="header">
        <div id="menu-cursos">
          <a id="cursos" target="_self" href="/curso-1.html">Curso-1</a> <!-- seria possivel adicionar caso tivesse outros cursos, está aqui por exemplificação-->
          <a id="cursos" target="_self" href="/curso-2.html">Curso-2</a> <!-- seria possivel adicionar caso tivesse outros cursos, está aqui por exemplificação-->
          <a id="cursos" target="_self" href="/curso-3.html">Curso-3</a> <!-- seria possivel adicionar caso tivesse outros cursos, está aqui por exemplificação-->
        </div>
        <div class="logo"><img src="@/assets/logo-p.png"></div>
        <div class="menu-direito">
          <a class="Sobre-Contato" target="_self" href="/sobre-contato.html">Sobre/Contato</a> <!-- seria possivel adicionar caso tivesse a outra pagina, está aqui por exemplificação-->
        </div>
      </div>
      
      <VideoComp/>

      <div class="footer">
        <div class="footer-logo">
          <a class="footer-logo-link" title="Instituto Ananda" target="_self" href="/index.html"><img src="@/assets/logo-p.png"></a>
        </div>
        <div class="footer-text">Siga-nos em todas as redes sociais!</div>
        <div class="footer-media">
          <a class="social-instagram" title="Instagram" target="_blank" href="//www.instagram.com"><img src="@/assets/instagram-logo.png"></a>
          <a class="social-facebook" title="Facebook" target="_blank" href="//www.facebook.com"><img src="@/assets/facebook-logo.png"></a>
          <a class="social-twitter" title="Twitter" target="_blank" href="//www.twitter.com"><img src="@/assets/twitter-logo.png"></a>
        </div>
      </div>
    </div>
    </template>


<script>
import VideoComp from "@/components/VideoComp.vue"
        export default {
          name: "App",
          data () {
            return {
            }
          },
          components: {VideoComp}
        }
</script> 

<style scoped>
.container{
    background-image: url("assets/Img_1.png");
    background-size: 100vw;
    margin: 0;
    box-sizing: border-box;
    min-height: 93vh;
}

.header{
    padding: 0 2.5%;
    width: 95vw;
    height: 7vh;
    background: #88d6c560;
    display: flex;  
    justify-content: space-between; /*Eixo x*/
    align-items: center; /*Eixo y*/
}
.logo img{
    max-width: 50vw;
    max-height: 7vh;
}
.menu-cursos{
    padding: 5px;
    background-color: #cff;
}
#cursos{
    display: none;
}
#menu-cursos:hover #cursos{
    display: block;
    margin-left: 20px;
}


.footer{
  position: fixed;
  bottom: 0;
    padding: 0 2%;
    width: 96vw;
    height: 8vh;
    background: #88d6c560;
    display: flex;  
    justify-content: space-between; /*Eixo x*/
    align-items: center; /*Eixo y*/
}
.footer-logo img{
    max-width: 50vw;
    max-height: 7vh;
}
.footer-media img{
    max-width: 50vw;
    max-height: 6vh;
}
</style>
